PORT=3000
HOST=localhost
GAPGPT_API_KEY=[Write your own API Key]
GAPGPT_API_URL=https://api.gapgpt.app/v1/chat/completions
CHAT_MODEL=gemini-3.1-flash-lite
FLASK_DEBUG=0
IMAGE_API_URL=https://api.gapgpt.app/v1/images/generations
IMAGE_MODEL=gapgpt/z-image
IMAGE_SIZE=1024x1024
