PORT=3000
HOST=0.0.0.0
APP_PIN_HASH=sha256:017122f36672b8b90e92a5d5f186a5ce8fdc185f5ca1892250999bdb7550d752
GAPGPT_API_KEY=[Write your own API Key]
GAPGPT_API_URL=https://api.gapgpt.app/v1/chat/completions
CHAT_MODEL=gpt-5.4-nano
FLASK_DEBUG=0
